.experience {
    position: relative;
    width: 100%;
    padding: 4rem 7rem 7rem 7rem;
    background-color: #FDFEFE;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.experience h1 {
    text-align: end;
    font-size: 3rem;
    font-weight: 800;
    color: #0b1014;
    margin-bottom: 1.5rem;
    letter-spacing: 1px;
}

.experience h1 span {
    font-size: 3.1rem;
    font-family: 'Tourney', cursive;
    color: #5499C7;
    font-weight: 800;
}

.grid-container-experience {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.grid-item-experience {
    position: relative;
    width: 100%;
    height: 30rem;
    background-color: #F2F3F4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}

.grid-item-experience:hover {
    transform: translateY(-4px);
    background-color: #EAEDED;
    box-shadow: 0 2px 3px 2px rgba(179, 182, 183, 0.5);

}

.item-img {
    position: relative;
    width: 100%;
    height: 65%;
    overflow: hidden;
}

.item-img .filtro {
    position: absolute;
    background-color: rgba(15, 22, 29, 0.3);
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in;
}

.grid-item-experience:hover .item-img .filtro {
    background-color: rgba(15, 22, 29, 0);

}

.item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.4s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.item-img img.active {
    opacity: 1;
  }

.grid-item-experience:hover .item-img img{
    transform: scale(1.02);
    object-position: center;

}


.item-descripcion {
    width: 100%;
    height: 35%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 0.3rem;
}

.item-descripcion h3 {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(15, 22, 29);
    transition: all 0.3s ease-in
}

.item-descripcion h3:hover {
    color: #5499C7;
    letter-spacing: 0.2px;
}

.item-descripcion p {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.item-tecnologias {
    width: 100%;
    display: flex;
    gap: 0.6rem;
    margin-top: 1rem;
}

.item-tecnologias i {
    font-size: 1.3rem;
    color: #34495E;
    transition: all 0.3s ease;
}

.item-tecnologias i:hover {
    color: #1891e2;
    transform: scale(1.1);

}

.item-opciones {
    margin-top: 0.3rem;
    width: 100%;
    padding: 0.2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-opciones a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    border-radius: 10px;
    color: #EAEDED;
    text-decoration: none;
    font-weight: 400;
    background-color: #17212b;
    padding: 0.5rem 1.3rem;
    transition: all 0.3s ease-in;
}

.item-opciones a:hover {
    background-color: #5499C7;
    transform: scale(1.02);
}


.item-opciones .opc-git {
    border-radius: 10px;
    color: #EAEDED;
    text-decoration: none;
    font-weight: 400;
    padding: 0.5rem;
}

.size{
    position: absolute;
    right: 1rem;
}
.size i{
    color: #34495E;
}